@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// .admin_main-container{
//     .main-container{
//         width: 100%;
//         height: 100vh;
//         text-align: center;
//         background: url('../public/images/backgrounds/background.jpg') no-repeat center;
//         background-size: cover;
//         display: flex;
//         flex-direction: row;
//         justify-content: space-around;
//         .submain-container{
//             width: 20%;
//             margin: 50px 25px 50px 50px;
//             text-align: center;
//             flex-direction: column;
//             .admin-nav{
//                 margin: 0 0 10px 0;
//                 .admin-ul{
//                     background-color: white;
//                     padding: 12px 10px;
//                     border-radius: 15px;
//                     display: flex;
//                     flex-direction: row;
//                     justify-content: space-around;
//                     .admin-li{
//                         margin: 0 15px;
//                         list-style-type: none ;
//                         .admin-a{
//                             text-decoration: none;
//                             color: black;
//                             font-size: 1rem;
//                             transition: all 250ms;
//                             &:hover{
//                                 font-size: 1.2rem;
//                                 color: rgb(179, 179, 179);
//                             }
//                         }
//                     }
//                 }
//             }
//             .user-navigation{
//             // padding: 10px 0;
//             background-color: rgba(37,38,42,1);
//             // display: flex;
//             height: 100%;
//             border-radius: 15px;
//             border: 3px solid white;
//             .user-navigation_info{
//                 border-radius: 15px;
//                 // background-color: rgba(126, 130, 149, 0.2);
//                 // border-radius: 15px;
//                 // width: 100%;
//                 display: flex;
//                 justify-content: center;
//                 flex-direction: column;
//                 height: 20vh;
//                 // border-bottom: 1px solid rgb(104, 104, 104);
//                 margin: 0px 20px 10px 30px;
//                 padding: 10px 0;
//                 h3{
//                     padding: 5px 0 10px 0;
//                     font-size: 2rem;
//                     letter-spacing: 5px;
//                     color: white;
//                 }
//                 .users-pagination{
//                     width: 100%;
//                     display: flex;
//                     flex-direction: row;
//                     button{
//                         cursor:pointer;
//                         width: 50%;
//                         padding: 5px 0;
//                         margin: 5px 5px;
//                         border-radius: 15px;
//                         background-color: rgba(37,38,42,1);
//                         border: 2px solid rgb(245,176,194);
//                         color: white;
//                         font-size: 0.6rem;
//                         font-weight: 600;
//                         // position: relative;
//                         // top: 50vh;
//                         transition: 500ms;
//                         &:hover{
//                             background-color: rgba(255, 255, 255, 1);
//                             color: black;
//                             border: none;
//                         }
//                     }
//                 }
//                 .users-search-btn_container{
//                     .users-search-btn{
//                         width: 70px;
//                         padding: 2px 0;
//                         margin: 5px auto;
//                         background-color: rgba(37,38,42,1);
//                         border: 2px solid rgb(245,176,194);
//                         border-radius: 15px;
//                         transition: all 500ms;
//                         color: white;
//                         text-align: center;
//                         &:focus{
//                             width: 90%;
//                             margin: 5px auto;
//                             border: 2px solid rgb(245,176,194);
//                             border-radius: 10px;
//                         }
//                         &::placeholder{
//                             color: white;
//                         }
//                     }
//                 }
//             }
//             .user_a{
//                 display: flex;
//                 justify-content: center;
//                 color: white;
//                 font-size: 1rem;
//                 // padding: 10px 0 0px 0;
//                 padding: 5px;
//                 transition: 250ms;
//                 &:hover{
//                     font-size: 1.5rem;
//                     color: #acacac;
//                 }
//             }
            
//             }   
//         }
//         .user-info{
//             background-color: rgba(37,38,42,1);
//             border: 3px solid white;
//             border-radius: 15px;
//             width: 80%;
//             margin: 50px 50px 50px 25px;
//             text-align: left;
//             .info-container{
//                 color:white;
//                 width:85%;
//                 margin: 0 auto;
//                 padding: 15px 0;
//             }
//             .user-data{
//                 margin: 15px 0;
//                 font-size: 1.5rem;
//                 font-weight: 800;
//                 letter-spacing: 2px;
//                 label{
//                     font-weight: 250;
//                     padding: 0 25px;
//                     color:rgb(255, 225, 189);
//                 }
//             }
//             .ban-btn{
//                 width: 90%;
//                 cursor: pointer;
//                 background-color: rgb(255, 0, 0);
//                 color: white;
//                 border: none;
//                 border-radius: 15px;
//                 transition: 500ms;
//                 &:hover{
//                     background: rgb(119, 0, 0);
//                 }

//             }
//         }
//     }   
// }
// @media (max-width: 1024px){
//     .user-navigation{
//         height: 70vh !important;
//     }
//     .users-pagination{
//         flex-direction: column !important;
//         button{
//             margin: 5px 0 !important;
//             width: 100% !important;
//         }
//     }
//     .users-search-btn_container{
//         .users-search-btn{
//             width: 100% !important;
//         }
//     }
//     // .admin-nav{
//     //     .admin-ul{
//     //         flex-direction: column !important;
//     //         .admin-li{
//     //             margin: 1px 0 !important;
//     //         }
//     //     }
//     // }
// }
// @media (max-width: 700px){
//     .main-container{
//         height: 100% !important;
//         flex-direction: column !important;
//         .submain-container{
//             width: 90% !important;
//             height: 50vh;
//             margin: 15px auto !important;
//             flex-direction: column !important;

//         .user-navigation{
//             .user-navigation-info{
//                 width: 10% !important;
//                 margin: 0 !important;
//                 h3{
//                     margin: 0 !important;
//                 }
//                 .users-pagination{
//                     button{
//                         margin: 10px 0 !important;
//                     }
//                 }
//             }
//         }
//         .user-info{
//             width: 90% !important;
//             margin: 0 auto !important;
//             border-radius: 15px;
//             .info-container{
//                 .user-data{
//                     font-size: 1rem !important;
//                 }
//                 .ban-btn{
//                     width: 100% !important;
//                 }
//             }
//         }
//         }
//     }
// }
// @media(max-width:450px){
//     .main-container{
//         .user-info{
//             .info-container{
//                 .user-data{
//                     font-size: 0.8rem !important;
//                 }
//             }
//         }
//     }
// }


.admin_main-container{
    height: 100vh !important;
    width: 100%;
    background: url('../public/images/backgrounds/background.jpg') no-repeat center;
    background-size: cover;
    margin:  0 auto;
    display: flex;
    flex-direction: row;
    .user-navigation{
        width: 20%;
        background-color: rgba(0, 0, 0, 0.55);
        margin: 0 15px 0 30px; 
        .user-navigation_info{
            // background-color: purple;
            height: 150px;
            text-align: center;
            border-bottom: 1px solid rgb(122, 122, 122);
            margin: 0 25px ;
            h3{
                font-family: 'Roboto', sans-serif;
                color: white;
                padding: 10px 0 5px 0;
                font-size: 2rem;
            }
            .users-pagination{
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin: 5px 0px;
                button{
                    cursor: pointer;
                    font-family: 'Roboto', sans-serif;
                    width: 90px;
                    height: 25px;
                    border-radius: 10px;
                    border: 1px solid #88278f;
                    background-color: #88278f;
                    color: white;
                    margin: 0 3px;
                    transition: all 250ms;
                    &:hover{
                        color: gray;
                        width: 100px;
                        height: 30px;
                    }
                }
            }
            .users-search-btn_container{
                input{
                    font-family: 'Roboto', sans-serif;
                    background-color: #88278f;
                    width: 75%;
                    color: white;
                    border: 1px solid #88278f;
                    border-radius: 10px;
                    margin: 5px 0;
                    padding: 5px 0;
                    transition: all 250ms;
                    text-align: center;
                    &::placeholder{
                        color: white;
                    }
                }
            }
        }
        .users{
            display: flex;
            flex-direction: column;
            text-align: center;
            // background-color: aqua;
            padding: 5%;
            a{
                color: white;
                text-decoration: none;
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                margin: 10px 0;
                transition: all 250ms;
                &:hover{
                    color: gray;
                    font-size: 1.2rem;
                }
    
            }
    
        }
    }
    .user-info{
        width: 80%;
        background-color: rgba(0, 0, 0, 0.55);
        margin: 0 30px 0 15px;
        color: white;
        .info-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 5% 0;

            // align-content: center;
            .user-data{
                letter-spacing: 2px;
                margin: 10px 50px;
                font-size: 1.5rem;
                font-weight: 700;
                font-family: 'Roboto', sans-serif;
                label{
                    font-family: 'Roboto';
                    font-weight: 300;
                }
            }
            .info-btns{
                align-items: center;
                display: flex;
                margin: 25px 0;
                justify-content: center;
                flex-direction: row;
                button{
                    cursor: pointer;
                    width: 250px;
                    height: 50px;
                    color: white;
                    font-size: 1.5rem;
                    align-items: center;
                    border: none;
                    justify-content: center;
                    border-radius: 5px;
                    font-weight: 1000;
                    transition: all 250ms;
                }
                .ban-btn{
                    background-color: rgb(177, 42, 42);
                    &:hover{
                        background-color: rgb(83, 29, 29);

                    }
                }
                .allow-btn{
                    background-color: rgb(46, 170, 46);
                    &:hover{
                        background-color: rgb(44, 128, 44);
                    }
                }
            }
        }
    }
}

@media (max-width:950px){
    .admin_main-container{
        flex-direction: column;
        .user-navigation{
            width: 90%;
            margin: 10px auto;
            height: 175px;
            display: flex;
            flex-direction: row;
            .user-navigation_info{
                width: 40%;
                height: 100%;
                border: none;
                h3{
                    padding: 0;
                }
                .users-pagination{
                    flex-direction: column;
                    button{
                        width: 50%;
                        margin: 5px auto;
                    }
                }
                .users-search-btn_container{
                    input{
                        // margin: 15px 0 5px 0;
                        width: 60%;
                    }
                }
            }
            .users{
                width: 60%;
                padding: 0;
                display: flex;
                // border: none !important;
                flex-direction: column;
                flex-wrap: wrap;
                a{
                    font-size: 1rem;
                }
            }
        }
        .user-info{
            margin: 10px auto;
            width: 90% !important;
            margin: 0 auto !important;
            .info-container{
                padding: 0 !important;
                text-align: left;
            }
        }
        .info-btns{
            margin: 5px auto !important;
            width: 50% !important;
            flex-direction: column !important;
            button{
                width: 100% !important;
            }
        }
    }
}
@media (max-width: 600px){
    .user-navigation_info{
        h3{
            font-size: 1rem;
        }
    }
    .users-pagination{
        button{
            font-size: 0.8rem;
        }
    }
    .user-data{
        font-size: 1rem !important;
        label{
            font-size: 0.8rem !important;
        }
    }
    .users{
        a{
            font-size: 0.7rem !important;
        }
    }
}
@media (max-width: 320px){
    .user-data{
        font-size: 0.8rem !important;
        label{
            font-size: 0.5rem !important;
        }
    }
    .users-pagination{
        button{
            font-size: 0.5rem;
            width: 100% !important;
        }
    }
    .users-search-btn_container{
        input{
            width: 100% !important;
            font-size: 0.5rem;
        }
    }
}