.main{
    height: 100vh !important;
    width: 100%;
    background: url('../public/images/backgrounds/background.jpg') no-repeat center;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    // align-items: center;
}
.article{
    width: 100%;
    text-align: center;
	position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .header{
        h1{   
            font-size: 3rem;
            font-weight: 1000;
            letter-spacing: 5px;
            text-align: center;
            color: #fff;
            margin: 100px 0 25px 0;
        }
    }
    .form{
        position: relative;
        width: 50%;
        margin: 0 auto;
        height: 250px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        // background-color: red;
    }
    .label{
        display: flex;
        flex-direction: column;
        margin: 0;
        color: white;
        font-size: 1rem;
        letter-spacing: 2px;
        padding: 0;
    }
    .input{
        padding: 10px 0;
        text-align: center;
        color: black;
        border: none;
        // border: 2px solid black;
        margin: 10px 5px;
        border-radius: 8px;
        &::placeholder{
            color: rgb(134, 134, 134);
        }
    }
    .input-submit{
        cursor: pointer;
        background-color: #8c00af;
        // border: 2px solid black;
        width: 20%;
        padding: 10px 0;
        text-align: center;
        border: none;
        border-radius: 8px;
        margin: 35px 0 0 7px;
        color: white;
        font-size: 1rem;
        letter-spacing: 2px;
    }
}
.form-error_container{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 15px auto;
    padding: 5px;
    color: white;
    background-color: rgba(255, 38, 0, 0.8);
    border: 2px dashed rgb(114, 0, 0);
    border-radius: 15px;
    font-size: 1.2rem;
    font-weight: 1000;
    letter-spacing: 2px;
    width: 50%;
}
// .form-error{
// //     background-color: green;
// }
@media (max-width: 1024px){
    .form{
        width: 75% !important;
    }
    .input-submit{
        width: 45% !important;
        margin: 15px auto !important;
    }
}
@media (max-width: 550px){
    .header{
        h1{
            font-size: 2rem !important;
        }
    }
    .form{
        width: 90% !important;
    }
    .input-submit{
        width: 65% !important;
    }
}
@media (max-width: 320px){
    .header{
        h1{
            font-size: 1.5rem !important;
        }
    }
}